@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <hr />
    <h2>Quick Links</h2>
    <p>
        <a class="btn btn-primary btn-lg" asp-controller="Tasks" asp-action="Index">Go to Tasks</a>
    </p>
</div>
