@model Codexly.Models.TaskItem

<h1>Create Task</h1>

<form asp-action="Create" method="post">
    <label>Title</label>
    <input type="text" name="Title" required />

    <label>Description</label>
    <textarea name="Description"></textarea>

    <button type="submit">Create Task</button>
    <a asp-action="Index">Cancel</a>
</form>

<style>
    body {
        background: #ddd;
        font-family: Arial;
    }

    form {
        width: 500px;
        background: #fff;
        padding: 20px;
        border-radius: 10px;
        margin: 40px auto;
        display: flex;
        flex-direction: column;
    }

    input, textarea {
        margin-bottom: 15px;
        padding: 10px;
        border-radius: 6px;
        border: 1px solid #aaa;
    }

    button {
        background: blue;
        color: white;
        padding: 10px;
        border: none;
        border-radius: 6px;
    }
</style>

